* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    flex: 0 0 70%;
    max-width: 900px;
}

.screen {
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgb(41,41,56);
    color: #fff;
    border: none;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.5s linear;
}


button {
    flex: 0 0 25%;
    border: 1px solid #000;
    padding: 0.25rem 0;
    transition: all 1s ease;
    
}

button:hover {
    background-color: #2CAAED;
}


.btn-yellow {
    background-color: #DC7633;
    color: #FFF;
}

.btn-grey {
    background-color: rgb(224, 224, 224);
}

.btn,
.btn-yellow,
.btn-grey {
    font-size: 4rem;
}

.btn-equal {
    background-color: #2ECC71;
}

.btn-clear {
    background-color: #E74C3C;
}

.btn-backspace,
.btn-clear {
    flex: 0 0 50%;
}